body {
    font-family: Impact;
    text-align: center;
    background-image: url(/Фон.png);
}

#Карты-Дилера img {
    height: 300px;
    width: 200px;
    margin: 1px;
}

#Карты-ТЫ img {
    height: 300px;
    width: 200px;
    margin: 1px;
}

#Взять {
    width: 120px;
    height: 70px;
    font-size: 20px;
}

#Хватит {
    width: 120px;
    height: 70px;
    font-size: 20px;
}
#i {
    width: 50px;
    height: 50px;
    font-size: 20px;
}
h2 {   
  color: white;  
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
    font-size: 40px; }

message {   
  color: white;  
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
    font-size: 80px; }

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #000;
  opacity: 1;
  z-index: 9999;
}

function openPopup() {
  var popup = document.querySelector('.popup');
  popup.style.display = 'block';
}

function closePopup() {
  var popup = document.querySelector('.popup');
  popup.style.display = 'none';
}

