body {
    font-family: Impact;
    text-align: center;
    background-image: url(/Фон.png);
}

#Карты-Дилера img {
    height: 400px;
    width: 300px;
    margin: 1px;
}

#Карты-ТЫ img {
    height: 400px;
    width: 300px;
    margin: 1px;
}

#Взять {
    width: 120px;
    height: 70px;
    font-size: 20px;
}

#Хватит {
    width: 120px;
    height: 70px;
    font-size: 20px;

}



