body {
    font-family: Impact;
    text-align: center;
    background-image: url(/Фон.png);
}

#Карты-Дилера img {
    height: 300px;
    width: 200px;
    margin: 1px;
}

#Карты-ТЫ img {
    height: 300px;
    width: 200px;
    margin: 1px;
}

#Взять {
    width: 120px;
    height: 70px;
    font-size: 20px;
}

#Хватит {
    width: 120px;
    height: 70px;
    font-size: 20px;
}
#i {
    width: 50px;
    height: 50px;
    font-size: 20px;
}
h2 {   
  color: white;  
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
    font-size: 40px; }

message {   
  color: white;  
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
    font-size: 80px; }

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

